<h1 class="users-h1">Listing users associated with <span id="user-name"><%= current_user.name %> </span></h1>
<div class="users-table-div">
<table class="users-table">
  <thead style="font-weight: bold;">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!--div class="users-link"> <%= link_to 'New User', new_user_path %> </div-->
