<div class="user-show">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back to workspaces', workspaces_path %>
<h1>User Information</h1>
<div class="user-show-content">
  <strong>Name:</strong>
  <%= @user.name %> <br/>
  <strong>Email:</strong>
  <%= @user.email %>
</div>

  <%= link_to "/users/#{@user.id}", method: 'delete' do %>
      <div  class="delete-button" id="delete_list" style="font-size: 18px; text-align: center"> Delete User </div>
  <% end %>


</div>