  <div class="sitemap">
<div class="tree_container">
    <h1>Sitemap</h1>
    <table>
      <tr>
        <td class="globe">
          <%= link_to "Login", {:controller=>"accounts", :action=> "sign_in"} %>
        </td>
        <td></td>
        <td class="globe">
          <%= link_to "Signup", {:controller=>"accounts", :action=> "register"} %>
        </td>
      </tr>
      <tr>
        <td><a style="color: white; text-decoration: underline;" href="http://validator.w3.org/check?referer">Valid HTML 5</a></td>
        <td class="globe">
          <%= link_to "Home", {:controller=>"home", :action=> "index"} %>
        </td>
        <td><a style="color: white; text-decoration: underline;" href="http://jigsaw.w3.org/css-validator/validator?referer">Good CSS</a></td>
      </tr>
      <tr>
        <td class="globe">
          <%= link_to "About", {:controller=>"home", :action=> "about"} %>
        <td></td>
        <td class="globe">
          <%= link_to "App", {:controller=>"home", :action=> "index"} %>
        </td>
      </tr>
    </table>
  </div>
      </div>