<div class="workspace_list">
  <h1>Here are your workspaces, <em><%= current_user.name %></em></h1>
  <% @workspaces.each do |workspace| %>
    <div class="workspace">
      <%= link_to workspace, method: :delete do %>
          <div class="delete">X</div>
      <% end %>
      <%= link_to workspace do %>
          <div class="name"><%= workspace.name %></div>
          <div class="description"><%= workspace.description %></div>
      <% end %>
    </div>
  <% end %>
  <div class="workspace">
    <%= link_to new_workspace_path, class: 'new_workspace' do %>
        +
    <% end %>
  </div>
</div>