<div class="workspace_page">
  <div id="notice"><%= notice %></div>
  <div class="route">
    <%= link_to 'Edit', edit_workspace_path(@workspace) %> |
    <%= link_to 'Back', workspaces_path %>
  </div>
  <div class="name"><%= @workspace.name %></div>
  <div class="description"><%= @workspace.description %></div>
  <div class="users"></div>
  <div class="lists">
    <% @workspace.lists.each do |list| %>
        <div class="list">
          <div class="list_name"><%= list.name %></div>
          <div class="list_items">
              <% list.items.each do |item| %>
                <div class="item">
                  <div class="edit"></div>
                  <div class="delete"></div>
                  <div class="users"></div>
                  <div class="content"><%= item.content %></div>
                </div>
              <% end %>
          </div>
        </div>
    <% end %>
    <div class="create_list_box">
        <div id="show_list_form_button">New List</div>
        <%= form_for [@workspace, @newlist] do |f| %>
            <div class="field">
              <%= f.text_field :name, placeholder: 'Name' %>
            </div>
            <div class="field">
              <%= f.text_area :description, placeholder: 'Description' %>
            </div>
            <div class="field">
              <%= f.submit 'Hooah!' %>
            </div>
        <% end %>
    </div>
  </div>
</div>