<div class = "item-form">
<h1>New item</h1>

<%= form_for [@list, @item], url: list_items_path do |f| %>
    <% if @item.errors.any? %>
        <div class="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="item-form-content">
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_field :content %>
      </div>
      <div class="field">
        <%= f.label :due %><br>
        <%= f.datetime_select :due %>
      </div>
      <%= f.submit "Create", :class => "button" %>
    </div>
<% end %>
</div>