<!DOCTYPE html>
<html>
<head>
  <title>Knowts</title>
  <link href='http://fonts.googleapis.com/css?family=Gilda+Display%7CPoiret+One%7CSpecial+Elite' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/sitemap.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="alert"><%= alert %></div>
<div class="header">
  <div class="left">
    <%= link_to "Knowts", root_path %>
  </div>
  <div class="right">
    <div> <%= link_to "Home", root_path %> </div>
    <div> <%= link_to "About", about_path %> </div>
    <% if not user_signed_in? %>
        <div> <%= link_to "Login", login_path %> </div>
        <div> <%= link_to "Signup", signup_path %> </div>
    <% else %>
        <div><%= link_to "Workspaces", workspaces_path %> </div>
        <%= form_tag('/users/sign_out', method: 'delete', id: 'signout_form') do %>
            <div id="sign_out_button">Logout</div>
        <% end %>
    <% end %>
  </div>
</div>
<p class="notice"><%= notice %></p>
<div class="content">

  <%= yield %>
  <footer>
    <span>
      <%= link_to "Sitemap", sitemap_path %>
    </span>
    <span>Website designed &amp; developed by Knowts Ltd.</span>
    <span class="validation-links">
      <a style="text-decoration: none" href="http://validator.w3.org/check/referer">
        <img style="border:0;width:32px;height:32px;padding-top: 10px"
             src="http://student.csse.uwa.edu.au/~20784663/CITS3403/HTML5_Logo_32.png" alt="Valid HTML 5"/>
      </a>
      <a style="text-decoration: none" href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
             src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
             alt="Valid CSS!" />
      </a>
    </span>
  </footer>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
